pkgbase = pomodux
	pkgdesc = A command-line Pomodoro timer with persistent sessions and plugin support
	pkgver = 0.3.2
	pkgrel = 1
	url = https://github.com/rsmacapinlac/pomodux
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	depends = glibc
	source = pomodux-0.3.2.tar.gz::https://github.com/rsmacapinlac/pomodux/archive/v0.3.2.tar.gz
	sha256sums = SKIP

pkgname = pomodux
